.container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5px;
    z-index: 100;
    width: 100%;
    height: max-content;
}
.img-a{
    display: flex;
    overflow: scroll;
}
img{
    border-radius: 5px;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: center;
        gap: 5px;
        width: 100%;
        height: max-content;
    }
  }