.img-a{
    display: flex; 
    overflow-x: auto;
} 
img{
    border-radius: 5px;
    width: 150px;
    margin-left: 10px;
}
h2{
    color: white;
}
.season-anime{
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    img{
        width: 100%;
    }
  }