<nav>
    <input placeholder="Search anime" [(ngModel)]="nameAnime" value="nameAnime" (input)="searchAnime()" >
</nav>
<div class="Search-anime" *ngIf="issearchAnime; else NotSearch">
    <app-searchanime [allanime]="Animelist"></app-searchanime>
</div>
<ng-template #NotSearch>
    <div class="container">
        <div class="Profile">
            <div class="profile-data">
                <div class="my-img">
                    <img src="{{img_profile}}">
                </div>
                <div>
                    <p>{{displayName}}</p>
                </div>
            </div>
        </div>
        <div class="topic-anime">
            <h2>Top 10 Anime</h2>
        </div>
        <app-topanime></app-topanime> 
        <div class="topic-season">
            <h2>Anime now season</h2>
        </div> 
        <app-animeseason></app-animeseason>
    </div>
</ng-template>